.btn {
  width: 100%;
  background-image: var(--gradient);
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  padding: 20px;
  border-radius: 50px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
