.cover {
  background-image: url(../img/header/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #efefef;
  margin-bottom: 65px;
  padding: 10px 0 186px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    width: 100%;
    max-width: 1042px;
    margin-bottom: 30px;
  }

  &__text {
    width: 100%;
    max-width: 786px;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 80px;
  }

  &__btn {
    width: 100%;
    max-width: 324px;
  }
}

@media (max-width: 1200px) {
  .cover {
    padding-bottom: 150px;

    &__title {
      text-align: center;
    }

    &__text {
      text-align: center;
      font-size: 24px;
    }
  }
}

@media (max-width: 768px) {
  .cover {
    padding-bottom: 100px;

    &__text {
      margin-bottom: 50px;
      font-size: 18px;
    }
  }
}
