.header {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  transition: 0.3s;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
    z-index: 9;
  }

  &--scroll {
    &::before {
      background-color: rgba(64, 58, 58, 0.9);
      backdrop-filter: blur(25px);
      border-radius: 5px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
  }

  &__logo {
    width: 100%;
    max-width: 69px;
    margin-right: 15px;
    display: flex;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__btn {
    width: 284px;
    display: flex;
    justify-content: center;
    padding: 13px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #ffffff;
    transition: 0.3s;

    border: 1px solid rgba(190, 141, 52, 0.3);
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    margin-right: 29px;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: rgba(190, 141, 52, 1);
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    margin-right: 38px;
  }

  &__social {
    border: 1px solid rgba(190, 141, 52, 0.3);
    border-radius: 50px;
    padding: 10.5px;
    margin-right: 20px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: rgba(190, 141, 52, 1);
    }

    img {
      width: 24px;
      display: flex;
    }
  }

  &__langs {
    display: flex;
    align-items: center;
  }

  &__lang {
    font-size: 14px;
    color: rgba(239, 239, 239, 0.7);
    margin-right: 7px;
    transition: 0.3s;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: rgba(#be8d34, 0.7);
    }

    &--active {
      font-weight: 600;
      color: #be8d34;

      &:hover {
        color: #be8d34;
      }
    }
  }
}

@media (max-width: 1200px) {
  .header {
    margin-bottom: 150px;
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 100px;
    &__logo {
      max-width: 59px;
    }

    &__btn {
      padding: 10px;
      margin-right: 20px;
    }

    &__socials {
      margin-right: 20px;
    }

    &__social {
      padding: 9.5px;

      img {
        width: 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    &__btn {
      width: 200px;
      margin-right: 15px;
    }

    &__socials {
      margin-right: 15px;
    }

    &__social {
      margin-right: 15px;
    }
  }
}

@media (max-width: 500px) {
  .header {
    &__logo {
      max-width: 49px;
    }

    &__btn {
      font-size: 12px;
      width: fit-content;
      margin-right: 10px;
    }

    &__socials {
      margin-right: 10px;
    }

    &__social {
      padding: 8.5px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 425px) {
  .header {
    &__socials {
      display: none;
    }
  }
}
