.info-2 {
  margin-bottom: 120px;
  &__wrapper {
  }

  &__title-block {
    margin-bottom: 60px;
  }

  &__content {
  }

  &__desc {
    background-color: rgba(224, 203, 163, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 83px;
  }

  &__desc-text {
    font-weight: 600;
    font-size: 24px;
    color: #505050;
    margin-right: 46px;
  }

  &__desc-icon {
    width: 100%;
    max-width: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 56px;
    grid-row-gap: 20px;
  }

  &__list-item {
    color: #403a3a;
    padding-left: 20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-image: var(--gradient);
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1.34fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  &__item {
    background-color: #403a3a;
    border-radius: 10px;
    padding: 77px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:nth-child(3n + 2) {
      .info-2__item-title {
        font-size: 64px;
      }
    }
  }

  &__item-title {
    font-family: var(--font-text-2);
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    background-image: linear-gradient(180deg, #be8d34 0%, #fee3b2 202.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 20px;
  }

  &__item-text {
    font-size: 24px;
    line-height: 125%;
    color: #efefef;
  }
}

@media (max-width: 1250px) {
  .info-2 {
    &__desc {
      padding: 30px;
    }
  }
}

@media (max-width: 1150px) {
  .info-2 {
    &__item {
      &:nth-child(3n + 2) {
        .info-2__item-title {
          font-size: 46px;
        }
      }
    }
    &__item-title {
      font-size: 28px;
    }
    &__item-text {
      font-size: 20px;
    }
  }
}

@media (max-width: 1050px) {
  .info-2 {
    &__desc {
      height: fit-content;
      margin: auto 0;
    }
    &__desc-text {
      font-size: 20px;
    }
  }
}

@media (max-width: 850px) {
  .info-2 {
    &__list {
      grid-column-gap: 30px;
    }
    &__desc-icon {
      display: none;
    }
    &__desc-text {
      text-align: center;
      margin-right: 0;
    }
  }
}

@media (max-width: 768px) {
  .info-2 {
    margin-bottom: 60px;
    &__desc-text {
      font-size: 18px;
    }

    &__items {
      grid-template-columns: repeat(1, 1fr);
      max-width: 500px;
      margin: 0 auto;
    }

    &__item {
      padding: 30px 20px;
    }

    &__item-title {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 600px) {
  .info-2 {
    &__list {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
    }
  }
}
