:root {
  //fonts
  --font-text: 'Noto Sans', sans-serif;
  --font-text-2: 'CopperPlate', sans-serif;

  //gradient
  --gradient: linear-gradient(274.39deg, #be8d34 -14.04%, #fee3b2 215.29%);
  --gradient-2: linear-gradient(238.68deg, #f2f3f3 -6.83%, #f1f1f1 46.73%, #e9e9e8 93.99%);
}
